body {
    font-family: 'Poppins', sans-serif;
    background: url('178427.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    background: rgba(79, 69, 192, 0.85);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 850px;
    max-height: 95vh;
    overflow-y: auto;
}

h1 {
    color: #f8f9fa;
    margin-bottom: 25px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 28px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #ffffff;
    text-align: left;
}

input, select {
    padding: 12px;
    border: none;
    border-radius: 6px;
    box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    background: #e8eeda;
    color: #000;
}

.btn {
    background: linear-gradient(145deg, #790303, #fa7602);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 20px;
    width: 100%;
    transition: 0.3s ease;
}

.btn:hover {
    background: linear-gradient(145deg, #ff6a00, #e65c00);
    transform: translateY(-2px);
}

.prediction {
    color: #ffa332;
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
}
